.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.popular hr {
  width: 400px;
  height: 6px;
  border-radius: 10px;
  background-color: #252525;
}

.popular-item {
  margin-top: 70px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.pop {
  display: flex;
  flex-direction: column;
  position: relative;
}

.img-pop {
  position: absolute;
  z-index: 3;
  width: 130px;
  height: auto;
  right: 18px;
  top: -50px;
}
