.offers {
  width: 65%;
  height: auto;
  display: flex;
  margin: auto;
  padding: 0px 120px;
  padding-top: 30px;
  margin-bottom: 80px;
  background: linear-gradient(
    180deg,
    rgb(176, 250, 255) 0%,
    rgb(244, 252, 253) 60%
  );
}

.offers-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1 {
  color: rebeccapurple;
  font-size: 80px;
  font-weight: 600;
}

.offers-left p {
  margin: 10px 0px;
  font-size: 22px;
}

.offers-left button {
  width: 200px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(199, 58, 58);
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}

.offers-right {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex: 1;
}
